<div class="jumbo">
  <div class="right tomster"></div>
  <h3>About Ember 001</h3>
  <p>
    The Ember 001 website is a delightful project created to explore Ember.
    By building a property Ember 001 site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact
  {{/link-to}}
</div>